<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <h1>BEM-VINDO</h1>

    <form action="/add" method="get">
        <input type="submit" value="Adicionar contato">
    </form>

    {% for contact in range(5) %}
        <div>
            <th>
                <tr>nome do contato</tr> 
                <tr>sobrenome do contato</tr> 
                <tr>numero do contato</tr>
        
                <form action="/remove/id_do_contato" method="post">
                    <input type="submit" value="Excluir">
                </form>
                
                <form action="/edit/id_do_contato" method="get">
                    <input type="submit" value="Editar">
                </form>
        
            </th>
        </div>
        <br>
    {% endfor %}


</body>
</html>